 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body{
      height: 100vh;
      background-image: linear-gradient(to right,rgb(7, 7, 56),black);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .containar {
       background-image: linear-gradient(to right, #020223, rgba(0, 0, 0, 0.432)), url('download.webp');
        width: 95%;
        height: 90%;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        justify-content: flex-start; 
        border-radius: 15px;
        background-size: cover;
        background-position: center;
      
    }
    .containar:hover{
      background-image: linear-gradient(to right,rgba(7, 7, 56, 0.862),transparent),url(download.webp);
    }
    .headar{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .list{
      display: flex;
      gap: 20px;
      list-style: none;
    }
    .nav-item {
      list-style: none;
    }
    a{
      color: white;
      text-decoration: none;
      font-size: 18px;
      font-style: italic;
    }
    a:hover{
      border-bottom: 2px solid white;
    }
    h1{
      color: white;
    }
    .content {
      margin-top: 100px;
      width: 40%;
    }
    .content h2{
      padding: 20px;
    }
    .content p{
      padding: 20px;
    }
    .content button{
      margin-left: 20px;
      background-color: white;
      border-radius:6px ;
      padding: 10px 20px;
      font-size: 16px;
    }
    .content button:hover{
      background-image: linear-gradient(to right,rgba(7, 7, 56, 0.862),transparent);
    }